p {
  font-family: Roboto, Arial;
  margin-top: 0;
  margin-bottom: 0;
}
  
.thumbnail {
  width: 100%;
}

.video-title {
  margin-top: 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 10px;
}

.video-info-grid {
  display: grid;
  grid-template-columns: 50px 1fr;
}

.profile-picture {
  width: 36px;
  border-radius: 50px;
}

.thumbnail-row {
  margin-bottom: 8px;
  position: relative;
}

.video-author,
.video-stats {
  font-size: 12px;
  color: rgb(96, 96, 96);
}

.video-author {
  margin-bottom: 4px;
}

.video-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 40px;
}

@media (max-width: 750px) {
  .video-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 751px) and (max-width: 999px) {
  .video-grid {
    grid-template-columns: 1fr 1fr;
  }
}


@media (min-width: 1000px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}


.video-time {
  background-color: black;
  color: white;
  position: absolute;
  bottom: 8px;
  right: 5px;
  font-family: Roboto, Arial;
  font-size: 12px;
  font-weight: 500;
  padding: 4px;
  border-radius: 2px;
}

.video-title-link {
  text-decoration: none;
  color: black;
}

.profile-picture {
  position: relative;
  cursor: pointer;
}

.channel-tooltip {
  display: flex;
  position: absolute;
  width: 200px;
  box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.3);
  border-radius: 6px;  
  padding: 10px;
  align-items: center;
  background-color: white;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.15s;
  top: 55px;
  z-index: 300;
}

.profile-picture-container:hover .channel-tooltip {
  opacity: 1;
}

.channel-picture-tooltip {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 8px;
}

.channel-tooltip-name {
  font-family: Roboto, Arial;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 4px;
}

.channel-tooltip-stats {
  font-family: Roboto, Arial;
  font-size: 14px;
  color: rgb(119, 118, 118)
}

.profile-picture-container {
  display: inline-block;
  position: relative;
}