.flexbox {
  display: flex;
  height: 50px;
  margin-bottom: 30px;
}

.section-1 {
  display: flex;
  width: 100px;
  background-color: lightpink;
  align-items: center;
  justify-content: center;
}

.item1 {
  background-color: black;
  color: white;;
}

.section-2 {
  width: 200px;
  background-color: lightblue;
}

.column-1 {
  display: flex;
  width: 100px;
  background-color: lightpink;
  align-items: center;
  justify-content: center;
}

.column-2 {
  width: 200px;
  background-color: lightblue;
}

.row-flexbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.row2 {
  background-color: black;
  color: white;
}