div {
  font-family: Arial;
}

.container {
  display: flex;
  width: 420px;
}

.profile-picture {
  margin-right: 15px;
}

.cat-img {
  height: 60px;
  width: 60px;
  border-radius: 30px;
  object-fit: cover;
}

.info {
  flex: 1;
}

.user-name {
  color:rgb(134, 129, 129);
}

.nickname-info {
  margin-bottom: 5px;
}

.message {
  margin-bottom: 15px;
  line-height: 20px;
}

.post {
  display: flex;
  align-items: center;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(197, 197, 197);
  border-radius: 15px;
  overflow: hidden;
}

.column1 {
  background-color: rgb(197, 197, 197);
  width: 100px;
  height: 100px;
  margin-right: 15px
}

.web {
  color:rgb(134, 129, 129);
  margin-bottom: 5px;
}

.column2 {
  flex: 1;
}

.title {
  line-height: 20px;
}